section{
    padding-top: 7rem;
}
.jumbotron{
    padding-top: 7rem;
    background-color: #e2edff;
}

#project{
    background-color: #e2edff;
}

/* scrol bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0d6efd;
}


.dark-mode {
    background-color:rgb(32, 33, 36);
    color: white;
}