section{
    padding-top: 7rem;
}
/* path{
    fill: black;
    fill-opacity: 1;
} */
.jumbotron{
    padding-top: 7rem;
    background-color: #e2edff;
}

#project{
    background-color: #e2edff;
}

/* atas */
.atas{
    display: none;
    position: fixed;
    }
/* akhor atas */

/* on off */
label {
    margin: 9px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #0d6efd;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* akhir on off */

/* scrol bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0d6efd;
}
/* end scrol */

/* dark mode */
.dark-mode {
    background-color:#282c34;
    color: white;
}
/* end dark mod3 */